.container {
  display: flex;
  flex-direction: column;
}

.Flex {
  grid-area: aside;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: Inter;
  font-size: 18px;
}
.Flex input,
.Flex button,
.Flex select {
  height: 35px;
  width: 90%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

.Flex div {
  font-size: 14px;
}

.Flex input {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15),
    inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.Flex button {
  filter: drop-shadow(0px 4px 4px rgba(143, 0, 255, 0.25));
  background: rgba(143, 0, 255, 0.64);
}

.Flex select {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15),
    inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.Flex span {
  display: block;
  color: red;
  font-size: 11px;
  text-align: start;
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: -10px;
}
.Flex button:hover {
  filter: drop-shadow(0px 8px 8px rgba(143, 0, 255, 0.25));
  background: rgba(143, 0, 255, 1);
}
.Flex input:hover,
.Flex select:hover {
  box-shadow: 0px 4px 4px rgba(143, 0, 255, 0.25),
    inset 0px 4px 4px rgba(143, 0, 255, 0.25);
  border-width: 1.5px;
  border-style: groove;
  border-color: rgba(143, 0, 255, 1);
}
.Flex input:focus,
.Flex select:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15),
    inset 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-width: 1.5px;
  border-style: solid;
  border-color: rgba(143, 0, 255, 1);
}
