.container {
  width: 80vw;
  padding: 1rem;
  background-color: #8f00ff;
  border-radius: 7px;
  font-size: 16px;
  font-family: Inter;
}
.container div:nth-child(2),
.container div:nth-child(3),
.container button {
  margin-top: 7px;
}
.container button:nth-child(5) {
    margin-left: 5px;
  }
.container button {
  background-color: #f4e5ff;
  border: 2px solid #f4e5ff;
  border-radius: 4px;
}
.container button:hover {
  box-shadow: 2px 3px 3px rgba(244, 229, 255, 0.35),
    inset 2px 3px 3px rgba(244, 229, 255, 0.35);
  cursor: pointer;
  transition: all 0.3s ease;
}
