.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: logo;
    font-family: Bebas Neue;
    font-size: 30px;
    border-width: 1.5px;
    border-style: solid;
    border-color: black;
  }
  