.container {
    grid-area: logo;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Bebas Neue;
    font-size: 30px;
    border: 1.5px solid black;
  }
  