.container {
  display: flex;
  flex-direction: column;
  grid-area: aside;
  align-items: center;
}

.container :first-child {
  margin-top: 70px;

  height: 50px;
  font-family: Inter;
  font-weight: bolder;
  font-size: 16px;
  color: black;
  text-align: center;
}

.container > div {
  margin-top: 30px;
  height: 60px;
  width: 70vh;
  font-family: Inter;
}

.entra {
  background: #8f00ff;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  text-align: center;
  padding: 11px;
  filter: drop-shadow(4px 4px 4px rgb(144, 0, 255, 0.25));
  font-family: Inter;
  font-size: 14px;
}

.cadastrar {
  background: rgba(143, 0, 255, 0.64);
  border-radius: 10px;
  width: 100px;
  height: 40px;
  text-align: center;
  padding: 11px;
  filter: drop-shadow(4px 4px 4px rgba(143, 0, 255, 0.25));
  font-family: Inter;
  font-size: 14px;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65vh;
  margin: 0 auto;
}
